.btn {
    padding: 6px 22px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--accent-color);
    color: var(--last-color);
    cursor: pointer;
    border: transparent;
    transition: color var(--changes), background-color var(--changes);
}

.studio-btn {
    min-width: 216px;
}

.submit-btn {
    position: absolute;
    left: 164px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
    border: transparent;
}

.button {
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--last-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color var(--changes), box-shadow var(--changes), background var(--changes);
    cursor: pointer;
    border: transparent;
}

.button:hover,
.button:focus {
    background-color: #188ce8;
    color: var(--last-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: transparent;
}

.filter {
    display: flex;
    justify-content: center;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: inherit;
    background-color: var(--grey-color);
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    transition: color var(--changes), background-color var(--changes), box-shadow var(--changes);
    border: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--last-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 4px;
}