.soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--soc-color);
    border-radius: 50%;
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--accent-color);
    fill: var(--last-color);
    transition: background-color var(--changes), fill var(--changes);
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.soc-footer {
    margin-left: 70px;
    margin-right: 93px;
}

.soc-list-footer {
    display: flex;
    gap: 10px;
}

.soc-list-footer .soc-link {
    fill: var(--last-color);
    background: rgba(255, 255, 255, 0.1);
    transition: fill var(--changes), background-color var(--changes);
}

.soc-list-footer .soc-link:hover,
.soc-list-footer .soc-link:focus {
    fill: var(--last-color);
    background-color: var(--accent-color);
}